body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 30;
    overflow:hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*background: #00ff00 url('http://cathack-assets.herokuapp.com/r/bd/bg_blueglow.png') no-repeat fixed center;*/
    /*background: #00ff00 url('http://cathack-assets.herokuapp.com/r/bd/bg_window_green.jpg')no-repeat fixed center;*/
    /*background: black url('http://cathack-assets.herokuapp.com/r/bd/bg_deepblue.png');*/
    /*background: black url('http://cathack-assets.herokuapp.com/r/bd/bg_wood.jpg');*/
    background-image:url(http://cathack-assets.herokuapp.com/r/bd/bg_wood.jpg);
    }

#outer {
    width: 1024px;
    height: 768px;
    top: 0;
    left: 0;
    background-repeat:no-repeat;
        /*background - color: #003466;background-repeat:no-repeat;position:absolute;overflow:hidden;font-family:Verdana,Geneva,sans-serif;font-weight:bolder;font-size:32px;display:none;}*/
            /*width: 1024px;
            height: 768px;
            top: 0;
            left: 0;
            position: absolute;*/
}

.player {
    cursor: pointer;
    float: left;
    padding: 5px;
    font-size: 20px;

}

.leaderboard {
    text-align:center;
    /*background-color: pink;*/
    width:1024px;
    height:75px;
    margin:5px;

}

.name {
    /*display: inline-block;*/
    width: 120px;
    font-size: 1.75em;
}
.score_block .player{
    background-color: blue;
    margin: 5px;
    border-radius: 15px;
    opacity:0.80;
}

.player .score {
    display: inline-block;
    width: 90px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.player.selected {
    background-color: #21FF42; /*lime green*/
}

.player.selected .score {
    color: black;
}

.yum{

    align: right;
    /*margin-bottom: 150px;*/
}

.topbar{
    border-style: dashed dashed dashed dashed;
    border-color: #ccc;
    border-width: 4px;

}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: black;
}

/*.inc {
  cursor: pointer;
}*/

.inc
{
width:200px;height:200px;
position:relative;
/*animation:myfirst 5s linear 2s infinite alternate;*/
-webkit-animation:myfirst 5s linear 1s infinite alternate;
}

@-webkit-keyframes myfirst 
 
{
    0%   {left:0px; top:0px;}
    25%  {left:500px; top:0px;}
    50%  {left:0px; top:-350px;}
    75%  {left:29px; top:56px;}
    100% {left:230px; top:400px;}
    from {-webkit-transform: rotate(-359deg);}
    to   {-webkit-transform: rotate(0deg);}
}

.inc2
{
/*width:100px;height:100px;*/
position:relative;
/*animation:mic 5s linear 2s infinite alternate;*/
-webkit-animation:mic 5s linear 1s infinite alternate;

}

.inc3 {
    position:relative;

    -webkit-animation:move_1 4s infinite linear;
}

.inc4 {
    position:relative;
    -webkit-animation:vert 3s infinite linear;
}
.inc6 {
    position:relative;
    -webkit-animation:last 4.5s infinite linear;
}
.inc7 {
    position:relative;
    width:150px;height:150px;
    -webkit-animation:rotation 6s linear 1s infinite alternate;
}

@-webkit-keyframes mic
{
0%      {-webkit-transform: rotate(0deg);left:0px;}
25%     {-webkit-transform: rotate(20deg);left:0px;}
50%     {-webkit-transform: rotate(0deg);left:500px;}
55%     {-webkit-transform: rotate(0deg);left:500px;}
70%     {-webkit-transform: rotate(0deg);left:500px;}
100%    {-webkit-transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);top:500px;}
    to   {-webkit-transform: rotate(359deg);bottom: 100px;}
    /*0%      {-webkit-transform: }*/
    /*100%      {-webkit-transform: rotate(0deg);left:0px;}*/
}

@-webkit-keyframes move_1 {
    0%      {-webkit-transform: rotate(0deg);left:0px;}
    25%     {-webkit-transform: rotate(90deg);top:200px;}
    50%     {-webkit-transform: rotate(0deg);bottom:-500px;}
    55%     {-webkit-transform: rotate(0deg);left:500px;}
    70%     {-webkit-transform: rotate(0deg);right:500px;}
    75%     {-webkit-transform: rotate(0deg);bottom:300px;}
    100%    {-webkit-transform: rotate(-360deg);left:0px;}

}

@-webkit-keyframes vert {
    0%      {-webkit-transform: rotate(0deg);left:0px;}
    25%     {-webkit-transform: rotate(90deg);right:200px;}
    50%     {-webkit-transform: rotate(180deg);left:500px;}
    75%     {-webkit-transform: rotate(-360deg);bottom:300px;}
    /*100%    {-webkit-transform: rotate(180deg);top:300px;}*/

}
@-webkit-keyframes last {
    0%      {-webkit-transform: rotate(0deg);top:0px;}
    25%     {-webkit-transform: rotate(90deg);left:500px;}
    50%     {-webkit-transform: rotate(180deg);right:400px;}
    75%     {-webkit-transform: rotate(-1080deg);bottom:700px;}
    /*100%    {-webkit-transform: rotate(180deg);top:300px;}*/

}
