body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    /*padding: 30;*/
    overflow:hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*background: #00ff00 url('http://cathack-assets.herokuapp.com/r/bd/bg_blueglow.png') no-repeat fixed center;*/
    /*background: #00ff00 url('http://cathack-assets.herokuapp.com/r/bd/bg_window_green.jpg')no-repeat fixed center;*/
    /*background: black url('http://cathack-assets.herokuapp.com/r/bd/bg_deepblue.png');*/
    background: black url('http://cathack-assets.herokuapp.com/r/bd/bg_wood.jpg');
    


}

#outer {
    width: 1024px;
    height: 768px;
    /*margin: 0 auto;    */
}

.player {
    cursor: pointer;
    float: left;
    padding: 5px;
    font-size: 25px;
}

.leaderboard {
    text-align:center;
    /*background-color: pink;*/
    width:500px;
    height:200px;
    margin:5px;

}

.player .name {
    /*display: inline-block;*/
    /*width: 300px;*/
    /*font-size: 1.75em;*/
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: #21FF42; /*lime green*/
}

.player.selected .score {
    color: black;
}

.topbar{
    border-style: dashed dashed dashed dashed;
    border-color: #ccc;
    border-width: 4px;

}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

/*.inc {
  cursor: pointer;
}*/

.inc
{
/*width:100px;height:100px;*/
position:relative;
/*animation:myfirst 5s linear 2s infinite alternate;*/
-webkit-animation:myfirst 5s linear 1s infinite alternate;
}

@-webkit-keyframes myfirst 
 
{
0%   {left:0px; top:0px;}
25%  {left:500px; top:0px;}
50%  {left:0px; top:-150px;}
75%  {left:29px; top:56px;}
100% {left:230px; top:300px;}
from {-webkit-transform: rotate(-359deg);}
to   {-webkit-transform: rotate(0deg);}
}

.p{

    float: left;
}


.inc2
{
/*width:100px;height:100px;*/
position:relative;
animation:mic 5s linear 2s infinite alternate;
-webkit-animation:mic 5s linear 1s infinite alternate;

}

@keyframes mic
{
0%      {transform: rotate(0deg);left:0px;}
25%     {transform: rotate(20deg);left:0px;}
50%     {transform: rotate(0deg);left:500px;}
55%     {transform: rotate(0deg);left:500px;}
70%     {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100%    {transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes mic
{
0%      {-webkit-transform: rotate(0deg);left:0px;}
25%     {-webkit-transform: rotate(20deg);left:0px;}
50%     {-webkit-transform: rotate(0deg);left:500px;}
55%     {-webkit-transform: rotate(0deg);left:500px;}
70%     {-webkit-transform: rotate(0deg);left:500px;}
100%    {-webkit-transform: rotate(-360deg);left:0px;}
}

.inc3 {
  top: 0;

    -webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
.inc4 {
    -webkit-animation: rotation .25s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(-359deg);}
    to   {-webkit-transform: rotate(0deg);}
}